#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Target directory to build binaries in, to don't dig them out later
# on from the bulk
DESTBINDIR=$(CURDIR)/bin

export CFLAGS = -Wall -g
export LDFLAGS = -Wl,--as-needed

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    export CFLAGS += -O0
else
    export CFLAGS += -O2
endif
export CXXFLAGS = $(CFLAGS)

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCOPY_SCRIPT_FILES_TO_BIN_DIR:BOOL=OFF \
		-DEXECUTABLE_OUTPUT_PATH:PATH=$(DESTBINDIR)

# For now perform only some small subselection of tests since some
# tests are very CPU intensive and some fail and there is no clean way
# to select "good" and quick ones
override_dh_auto_test:
	# debhelper just calls make test so no -R could be passed
	# PATH=$$PATH:$(DESTBINDIR) dh_auto_test -- -R "ANTS_(CC_1|...$$)"
	# thus lets do it manually
	cd obj-*; PATH=$$PATH:$(DESTBINDIR) ctest --force-new-ctest-process -R "ANTS_(CC_1|...$$)"


override_dh_auto_install:
	dh_auto_install
	install -t debian/ants/usr/bin $(DESTBINDIR)/*

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(DESTBINDIR)

%:
	dh -DExamples $@
